body {
    background: linear-gradient(to bottom, lightblue, darkblue);
}

.wrapper {
    width: 50%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}



.flex-item {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    padding: 20px 5px;
    border: solid 1px;
    align-items: center;
    justify-content: center;
}

.flex-item:hover {
    outline: 3px solid forestgreen;
    position: relative;
    border-color: forestgreen;
}

.boat {
    background-color: green;
}

.hit {
    background-color: red;
}

.selection {
    background-color: lime;
}